<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intro to Vue.js</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <!-- Data binding -->
                <!-- <img v-bind:src="image" v-bind:alt="altText"> -->
                
                <!-- Shorthand for v-bind -->
                <img :src="image" :alt="altText">
            </div>
            <div class="product-info">
                <a :href="link">
                    <h1>{{ product }}</h1>
                </a>
                <p>{{ description }}</p>
                
                <!-- Conditional rendering -->
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                <p v-else>Out of Stock</p>
                
                <!-- Toggle example -->
                <p v-show="onSale">On Sale!</p>

                <!-- List rendering -->
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <div v-for="variant in variants" :key="variant.variantId">
                    <p>{{ variant.variantColor }}</p>
                </div>
                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
</body>
</html>